.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}


.card-figure{
	border-radius: 100%;
	overflow: hidden;
	aspect-ratio: 1/1;
	width: 70px;
	align-self: center;
}

.link{
	@apply bg-[--grey-700] my-2 py-1 text-xs rounded-[--border-corner] text-white hover:bg-[--green] hover:text-[--grey-700];
}